#parameters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: $border;
    text-align: center;
    background-color : $backgroundColor;
    @include minw(576px){
        font-size: 1.3rem;
    }
    div{
        margin-block: 0.5rem;
        @include minh(700px){
            margin-top: 1rem;
        }

    }

}