#search{
    width: 90%;
    margin: 1rem auto;
    #search-form{
        position: relative;
        input{
            width: 80%;
            border-radius: $border;
            padding: 0.5rem;
            display: none;
        }
        button{
            position:absolute;
            left: 90%;
            top: 10%;
            width: 50px;
            height: 50px;
            border-radius: $border;
            background-color: transparent;
            border: 3px solid $fontColor;
            color: $fontColor;
        }
        button:hover{
            cursor:pointer;
        }
    }
}