#search{
    width: 90%;
    margin: 1rem auto;
    #search-form{
        height: 2rem;
        display: flex;
        justify-content: space-evenly;
        input{
            width: 80%;
            border-radius: $border;
            padding: 1rem;
        }
        button{
            width: 50px;
            height: 100%;
            border-radius: $border;
            background-color: transparent;
            border: 3px solid $fontColor;
            color: $fontColor;
            
        }
        button:hover{
            cursor:pointer;
        }
    }

}