#search{
    border-radius: $border;
    padding-bottom: 1rem;
    #search-form{
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        @include maxw(576px){
            width: 100%;
        }
        input{
            font-size: 1rem;
            position: absolute;
            width: 80%;
            border-radius: $border;
            padding: 0.5rem;
            height: 1.7rem;
            color: #000;
            @include maxw(576px){
                font-size: 0.7rem;
                width: 70%;
            }
        }

    }
}