.fade-in{
    animation: fade-in 2s ease-in-out 1s 1 normal forwards;

}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
    
}