*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3rem;
    color:$fontColor;
    background-color: cadetblue;
    /* @include backgroundImg("../../dist/img/download (10).jpg"); */
}

body{
    /* @include backgroundImg("../../dist/img/download (10).jpg"); */
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px $fontColor;
    @include minw (768px){
        width: 700px;
    }
    border-radius: $border;

}
main{
    min-height: 100vh;
}

input, button{
    font-family: inherit;
    color: inherit;
}

.spaceBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}