*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3rem;
    color:$fontColor;
    background-image: linear-gradient(to top, #6a85b6 0%, #8a9cbb 100%);
    
}

body{
    
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 10px 5px $fontColor;
    @include minw (768px){
        width: 700px;
    }
    border-radius: $border;

}
main{
    min-height: 100vh;
    #opening{
        /* border: 1px solid black; */
        font-size: 3rem;
        width: 70%;
        letter-spacing: 0.1rem;
        margin: 1rem;
        @include maxw(576px){
            font-size: 2rem;
            
        }
    }

}


input, button{
    font-family: inherit;
    color: inherit;
}

.spaceBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display{
    display: none;
}