
@mixin minw($size){
    @media only screen and (min-width: $size) {
        @content;
        
    }
}

@mixin maxw($size){
    @media only screen and (max-width: $size){
        @content;
    }
}

@mixin minh($size){
    @media only screen and (min-height : $size) {
        @content;
        
    }
}

@mixin backgroundImg ($link){
    background-image: url($link);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}